<%
   jmetrics_html = measure('jmetrics_java').measure_data;
   jmetrics_excel =  escape_javascript(measure('jmetrics_excel_java').measure_data);
%>
<div class="dashbox withoutPadding">
	<script>
		function b64toBlob(b64Data, contentType, sliceSize) {
			    contentType = contentType || '';
			    sliceSize = sliceSize || 512;
			
			    var byteCharacters = atob(b64Data);
			    var byteArrays = [];
			
			    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
			        var slice = byteCharacters.slice(offset, offset + sliceSize);
			
			        var byteNumbers = new Array(slice.length);
			        for (var i = 0; i < slice.length; i++) {
			            byteNumbers[i] = slice.charCodeAt(i);
			        }
			
			        var byteArray = new Uint8Array(byteNumbers);
			
			        byteArrays.push(byteArray);
			    }
			
			    return new Blob(byteArrays, {type: contentType});
		}
		
		jQuery(document).ready(function() {
		    function close_accordion_section() {
		        jQuery('.accordion .accordion-section-title').removeClass('active');
		        jQuery('.accordion .accordion-section-content').slideUp().removeClass('open');
		    }
		 
		    jQuery('.accordion-section-title').click(function(e) {
		        // Grab current anchor value
		        var currentAttrValue = jQuery(this).attr('href');
		 
		        if(jQuery(e.target).closest('a').is('.active')) {
		            close_accordion_section();
		        }else {
		            close_accordion_section();
		            // Add active class to section title
		            jQuery(this).addClass('active');
		            // Open up the hidden content panel
		            jQuery('.accordion ' + currentAttrValue).slideDown().addClass('open');
		        }
		        e.preventDefault();
		    });
		    
		    var reader = new FileReader();

			var blob = b64toBlob("<%= jmetrics_excel %>",'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');
			reader.readAsDataURL(blob);
		    
		    jQuery('#exportToExcel').click(function(){
				var newTab = window.open(reader.result, '_blank');
				return false;
			});	    
		});
	</script>
	<style>
		/*----- Accordion -----*/
		.accordion, .accordion * {
		    -webkit-box-sizing:border-box; 
		    -moz-box-sizing:border-box; 
		    box-sizing:border-box;
		}
		
		.accordion {
		    overflow:hidden;
		    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
		    border-radius:3px;
		    background:#f7f7f7;
		}
		
		/*----- Section Titles -----*/
		.accordion-section-title {
		    width:100%;
		    display:inline-block;
		    border-bottom:1px solid rgb(119, 119, 119);
		    background:rgb(119, 119, 119);
		    transition:all linear 0.15s;
		    /* Type */
		    font-size:14px;
		    text-shadow:0px 1px 0px #1a1a1a;
		    color:#fff;
		}
		
		.accordion-section-title a:active, a:focus, a:hover {
			color: #fff;
		}
		
		.accordion-section-title.active, .accordion-section-title:hover {
		    background:#4c4c4c;
		    /* Type */
		    text-decoration:none;
		}
		
		.accordion-section:last-child .accordion-section-title {
		    border-bottom:none;
		}
		
		/*----- Section Content -----*/
		.accordion-section-content {
		    padding:15px;
		    display:none;
		}	
		
		.scrollable-div {
			overflow-y: scroll; 
			height:800px;
		}
		
		.full-width {
		    width:100%;
			border-collapse:collapse; table-layout:fixed;
		}	
		
		
		.large-width {
			padding: 5px;
		    width:80%;
		    word-wrap:break-word;
		}	
		
		
		.small-width {
		    width:15%;
		}
			
		.small-margin {
			margin-bottom: 10px;
		}
		
		.withoutPadding {
			padding: 0 0 0 0;
		}
		
		.large-label {
			width: 87%;
			font-size: 16px;
			line-height: 1.2;
   			font-weight: 300;
   			padding-bottom: 10px;
		}
	</style>
    <table class="width100">
        <tbody>
            <tr>
                <td style="width=60%; vertical-align:top; padding:0 0 0 0;">
                    <table>
                        <tbody>
                        	<tr>
                        		<td class="large-label">
                        			<span class="small-margin">jMetrics</span>
                        		</td>
                        		<td>
                        			<a href="#" id="exportToExcel" class="button small-margin">Export To Excel</a>
                        		</td>
                        	</tr>
                      		<tr>
	                             <td colspan="2"> 
	                            	<%= jmetrics_html %>      
	                             </td>
                            </tr>                                                      
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>